body{
    background-image: url("../../img/bf.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: center;
    background-attachment: fixed;
    text-decoration: none;
    text-decoration-line: none;
}

.fhormulario{
    width: 416px;
    height: 425px;
    background-color: #000;
    border-radius: 30px;
}

.forr{
    border-radius: 20px;
    background-color: #000;
}

.espa{
    margin-left: 27pc;
    margin-top: 20px;
}

.salte{
    margin-left: 27pc;
    margin-top: 20px;
}

.requiredMessage{
    color:red;
}
.regresar{
    font-size: 35px;
    color: #fff;
}

.regresar:hover{
    text-decoration: none;
    color: #fff;
}
.espacio{
    width: 3px;
}
.info-reg{
    background-color: rgba(0,0,0,0.3);
    border-color: transparent;
    color: #fff;
}
.letra-blanca{
    color: #fff;
}
.vacio-letra{
    height: 20px;
}
.vacio-reg{
    height: 500px;
    background-color: transparent;
}
.vacio-vacio{
     height: 200px;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 100%;
}