body{
    background-image: url("../../img/pexels-photo-127661.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: center;
    background-attachment: fixed;
    text-decoration: none;
    text-decoration-line: none;
}

.thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
}

.thumbnail img {
    width: 100%;
}